{% extends 'base.html' %}

{% block content %}
<main>
    <section class="education-section" id="education">
        <div class="container">
            <p class="section-kicker">Perjalanan saya sejauh ini</p>
            

            <div class="project-header">
                <h1>Education</h1>
            </div>
            
            <form method="get"
                action="{% url 'main:show_education' %}"
                class="project-search">
                <input type="search"
                name="institution_name"
                value="{{ institution_query }}"
                placeholder="Cari berdasarkan nama institusi"
                class="project-search__input"
                aria-label="Cari berdasarkan nama institusi">
                <button type="submit" class="button">Cari</button>
            </form>
            <div class="education-grid">
                {% for education in education_list %}
                    <article class="education-card">
                        <span class="education-levels">
                            {{ education.get_education_levels_display }}
                        </span>
                        <h2>{{ education.institution_name }}</h2>
                        <p class="education-description">
                            {{ education.description }}
                        </p>
                        <h3>{{ education.started_at }} - {{ education.ended_at }}</h3>

                        {% include "components/education_delete_modal.html" with education=education %}
                    </article>
                {% empty %}
                    <p class="empty-state">
                        Belum ada Pendidikan yang ditambahkan.
                    </p>
                {% endfor %}
            </div>
            <div class="education-action-container">
                <a href="{% url 'main:create_education' %}" class="button project-add-button">
                    <span aria-hidden="true">+</span> Tambah Pendidikan
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock content %}